.background-biege {
    background-color: #F4F2FD;
}

.text-white {
    color: white;
}

.container {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card-basic {
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 0px 50px 0px #909090;
    padding: 16px;
    text-align: center;
}

.card-basic:hover {
    box-shadow: 0px 0px 50px 0px #606060;
}

.card-basic li {
    list-style-type: none;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    font-size: large;
}

.card-basic li::before {
    content: url('../icons/check_circle_blue_16.png');
}

.card-pro {
    background-color: #212842;
    border-radius: 10px;
    text-decoration-color: #FFFFFF;
    box-shadow: 0px 0px 50px 0px #E0E0E0;
    padding: 16px;
    color: #FFFFFF;
    text-align: center;
}

.card-pro:hover {
    box-shadow: 0px 0px 100px 0px #909090;
}

.card-pro li {
    list-style-type: none;
    display: flex;
    align-items: center;
    font-size: large;
    text-transform: capitalize;
}

.card-pro li::before {
    content: url('../icons/check_circle_white_16.png');
}

.card-premium {
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 0px 50px 0px #909090;
    padding: 16px;
    text-align: center;
}

.card-premium li {
    list-style-type: none;
    display: flex;
    align-items: center;

    font-size: large;
}

.card-premium li::before {
    content: url('../icons/check_circle_blue_16.png');
}

.card-premium:hover {
    box-shadow: 0px 0px 50px 0px #606060;
}

.card-premium li {
    list-style-type: none;
}

.cta-button-blue {
    background-color: #212842;
    padding: 12px 16px;
    border-radius: 32px;
    border-color: #212842;
    font-size: large;
    text-transform: capitalize;

}

.cta-button-white {
    background-color: #FFFFFF;
    padding: 12px 16px;
    border-radius: 32px;
    border-color: #FFFFFF;
    font-size: large;
    text-transform: capitalize;
}

.card-heading-font {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 31px;
}

.capitalise-first-letter-in-words {
    text-transform: capitalize;
}

.font-list-elements-roboto-500 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.font-sub-heading-noto-600 {
    font-family: "Noto Sans Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 18px;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

@media(max-width:768px) {
    .container {
        flex-direction: column;
    }
}